<!DOCTYPE html>
<html>
<head>
	<title>Andy Mount - Application Developer</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://use.fontawesome.com/e8161f5783.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Andy Mount", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<%= link_to "Contact", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			<% end %> 
		</nav>
	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
  	<p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

<footer id='main_footer'>
	<p class="copyright">&copy;2016 Andy Mount</p>

	<nav>
		<a href="https://vk.com/iamsomebody" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
		<a href="https://github.com/andmount" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
		<a href="mailto:andmount@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
	</nav>
</footer>

</body>
</html>
